*{
    margin: 0;
    padding: 0;
}
.monster{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(32, 32, 32);
    text-align: center;
    color: aliceblue;
    font-family: "Arimo", sans-serif;
    width: 200px;
    height: 200px;
    border: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(226, 43, 43);
}
.monster p{
    margin-bottom: 25px;
}
.img{
    min-width: 150px;
    min-height: 150px;
    margin-bottom: 10px;
}
.img img{
    max-width: 150px;
    max-height: 150px;
}
.monster-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
}
.list{
    display: flex;
    justify-content: center;
}
.loading{
    font-family: "Jaini", system-ui;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
}
@keyframes dots {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
    100% {
        content: '';
    }
}
.loading .dots{
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
}
.loading .dots::after {
    content: '';
    animation: dots 2s infinite;
}
.front{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btns button{
    margin-right: 40px;
    width: 150px;
    height: 50px;
  }
  
  .btns button:last-child {
    margin-right: 0;
  }